*{
    background-color: rgb(19, 18, 18);
    color: rgb(242, 242, 242);
    text-align-last: center;
   font-family: 'Silkscreen';
}

#imgperfil{
    border-radius: 50%;
    border:solid 5px;
    border-color: rgb(115, 153, 187);
}

.titulos{
    font-size: 200%;
    font-style: italic;
}

h2{
    font-size: 300%;
}

#biografia{
    width:70vw ;
    text-align: center;
    margin-left: 15%;
}

.divInline{
    display: block;
}

#familia{
    display: inline-block;
}

#filmografia{
    display: inline-block;
}

#biografia{
    display: inline;
}

.flexElemento{
    width: 200px;
    height: 200px;
    background-color: bisque;
    margin: 15px;
    color: black;
    font-size: 500%;
}

.flexContenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}















